<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HandleBars</title>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script>
      const template = Handlebars.compile(`
      <a href="/products">{{link}}</a>

      <h1>{{titulo}}</h1>

      <form action="/product" method="post">
        <input type="text" name="name" placeholder="Nombre" />
        <input type="number" name="price" placeholder="Precio" />
        <input type="text" name="thumbnail" placeholder="Thumbnail" />
        <input type="submit" value="Cargar Producto" />
      </form>

        `);
      console.log("template", template);
      // fomra dinamica de insertarle los datos
      const html = template({
        titulo: "Cargar un producto",
        link: "Ver Producto",
      });

      // console.log(html);
      document.querySelector("body").innerHTML = html;
    </script>
  </body>
</html>
 -->
