<a href="/products">Ver productos</a>

<form  action="/product" method="post">
<input type="text" name="name" placeholder="Nombre" />
<input type="number" name="price" placeholder="Precio" />
<input type="text" name="thumbnail" placeholder="Thumbnail" />
<input type="submit" value="Cargar Producto" />
</form>
